@media (min-width: 1475px) {





}

@media (min-width: 1200px) and (max-width: 1474px) {

 

  
  }

@media (min-width: 992px) and (max-width: 1199px) {


p{
  width: 90% ;
  margin: auto;
}

}

@media (min-width: 768px) and (max-width: 991px) {

p{
  width: 90% ;
  margin: auto;
}
  
}

@media (min-width: 768px){
  .navbar-collapse li{
  text-align: center;
}
}

@media (max-width: 767px) {
  .navbar-brand{
    height: 100px ;}

  .navbar-toggle{
    clear: both;
  }

  p{
  width: 90% ;
  margin: auto;
}
  
}

#header-nav{
   border-radius: 0;
}

.navbar-brand{
    height: 100px ;
    border-radius: 0;
  }



p{
  background-color: #006600 ;
  padding : 5px;
  text-shadow: 1px 1px 1px #222;
  margin-top: 5px ;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;

}

body {
  font-size: 16px;
  background-color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}

.row{
  text-align: center;
}

h3,h2,h1{
 font-weight: bold;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #000000;
  text-align: center;

}
#nav-list a:hover {
  background: #CCFF99;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


